.rose-container {
    padding: 12px;
    text-align: center;
    width: 200px;
}

.rose-title-container {
    margin-bottom: 12px;
}

.rose-title {
    font-style: italic;
}

.rose-last-updated {
    font-size: 12px;
}

.rose-standing-container {
    display: flex;
    justify-content: space-between;
    padding: 4px;
}

.rose-standing-points {
    font-weight: bold;
}

.players-container {
    margin-top: 24px;
}

.player-container {
    margin-top: 12px;
}

.player-picture {
    max-height: 200px;
}

.player-name-eliminated {
    color: red;
}

.player-picture-eliminated {
    opacity: 0.5;
}
